<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetivos-VUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Lista de Objetivos com VUE</h1>
    <div id="app">
        <div>
            <label for="goal">Objetivos</label>
            <input type="text" v-model="enteredValue">
            <button v-on:click="addGoal">Add Objetivo</button>
            <button v-on:click="remGoal(index)">Remove Goal</button>
        </div>
        <ul>
            <li v-for="(goal, index) in goals" :key="index">{{ goal }}
                <button v-on:click="removeGoal(index)" style="margin: 5px;">Remover</button>
            </li>
           
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="index.js"></script>
</body>
</html>